@model List<GetAllDestinationQueriesResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS</h1>
<hr>
<a href="/Admin/DestinationCQRS/AddDestination/" class="btn btn-success" style="display: block; width: 100%; text-align: center;">Yeni Tur Rotası</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Süre</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.DestinationID</td>
            <td>@item.DestinationCity</td>
            <td>@item.DestinationPrice</td>
            <td>@item.DestinationDayNight</td>
            <td>@item.DestinationCapacity</td>
            <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger" style="display: block; width: 100%; text-align: center;">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.DestinationID" class="btn btn-outline-warning" style="display: block; width: 100%; text-align: center;">Güncelle</a></td>
        </tr>
    }
</table>